/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
html {
    background: #fafcff;
}

/* Image becomes no larger than actual size. */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.masthead {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;  /* main axis */
    align-items: center; /* cross axis */
}

header {
    /* width: 45%; */
    margin: 0;
    padding: 1em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: center; /* cross axis */
}

@media (min-width: 300px) and (max-width: 599px) {
    header {
        width: 90%;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    header {
        width: 50%;
    }
}

@media (min-width: 900px) {
    header {
        width: 45%;
    }
}

figure.logo {
    width: 15%;
    max-width: 60px;
    margin: 0;
    padding-right: 5%;
    flex: initial;
}

figure.logo:hover {
    cursor: pointer;
}

.headlines {
    width: 80%;
    margin: 0;
    padding: 0;
    flex: initial;
}

form {
    /* width: 20%; */
    margin: 0;
    padding: 1em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: center; /* cross axis */
}

@media (min-width: 300px) and (max-width: 399px) {
    form {
        width: 45%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    form {
        width: 40%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    form {
        width: 35%;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    form {
        width: 30%;
    }
}

@media (min-width: 900px) {
    form {
        width: 20%;
    }
}


fieldset {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em 0;
    flex: initial;
    border: none;
}

/* select {
    width: 100%;
} */

/* input {
    margin-right: 1em;
}

input[type="text"] {
    width: 60%;
} */

main {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: flex-start; /* cross axis */
}

aside {
    width: 90%;
    margin: 1em 5% 0; /* longhand is 1em 5% 0 5% */
    padding: 0;
    border-top: 2px solid #ffb68c;
    flex: initial;
}

.gallery {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;  /* main axis */
    align-items: flex-start; /* cross axis */
}

@media (min-width: 600px) {
    .gallery::after {
        content: "";
        width: 31%;
    }
}

figure.thumb {
    /* width: 31%; */
    margin: 0.5em 0;
    padding: 0;
    background: #c9e6ff;
    flex: initial;
    transition: all 1.2s; /* [property] [duration] */
}

figure.thumb:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Media queries for thumbs: one/two/three images per row */
@media (min-width: 300px) and (max-width: 399px) {
    figure.thumb {
        width: 100%;
    }
}

@media (min-width: 400px) and (max-width: 599px) {
    figure.thumb {
        width: 45%;
    }
}

@media (min-width: 600px) {
    figure.thumb {
        width: 31%;
    }
}

figcaption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
    font-weight: 400;
    color: #001e2f;
    padding: 0.25em;
}

section {
    width: 80%;
    margin: 1em 5%;
    padding: 1em 5%;
    border: 2px solid #ffb68c;
    border-radius: 8px;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;  /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

figure.icon {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    flex: initial;
    position: relative;
}

figure.icon:hover {
    cursor: pointer;
}

#close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.title {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

.content {
    /* width: 48%; */
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;  /* main axis */
    align-items: flex-start; /* cross axis */
}

@media (min-width: 300px) and (max-width: 899px) {
    .content {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .content {
        width: 48%;
    }
}

.expandable {
    margin: 0;
    padding: 0;
    cursor: pointer;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  /* main axis */
    align-items: center; /* cross axis */
}

/* Transition - smooths show/hide */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.full {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

.map {
    /* width: 48%; */
    margin: 0;
    padding: 0;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 899px) {
    .map {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .map {
        width: 48%;
    }
}

/* Font styles and their media queries */
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #001f2a;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #001f2a;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #001f2a;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    color: #001f2a;
}

.sub-title {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    line-height: 1.4;
}

.highlight {
    color: #c05900;
}

dl {
    margin-top: 0;
    padding: 1em;
    border-bottom: 1px solid #ffb68c;
}

dl:last-child {
    border-bottom: none;
}

dt {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #001f2a;
}

dd {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2;
    font-weight: 400;
    color: #001f2a;
    margin: 0;
    padding: 0;
}

dd a {
    color: #c05900;
    text-decoration: none;
}

dd a:hover {
    text-decoration: underline;
}

legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #001f2a;
}

select {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #001f2a;
}

/* Media queries for fonts */
@media (min-width: 300px) and (max-width: 399px) {
    p {
        font-size: 0.875em; /* 14px */
    }

    dt, dd, figcaption {
        font-size: 0.8125em; /* 13px */
    }

    h1 {
        font-size: 1.125em; /* 18 px */
    }

    h2 {
        font-size: 1em; /* 16px */
    }

    h3 {
        font-size: 0.875em; /* 14px */
    }

    legend {
        font-size: 0.875em; /* 14px */
    }

    select {
        font-size: 0.875em; /* 14px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    p {
        font-size: 0.9375em; /* 15px */
    }

    dt, dd, figcaption {
        font-size: 0.875em; /* 14px */
    }

    h1 {
        font-size: 1.1875em; /* 19px */
    }

    h2 {
        font-size: 1.0625em; /* 17px */
    }

    h3 {
        font-size: 0.9375em; /* 15px */
    }

    legend {
        font-size: 0.9375em; /* 15px */
    }

    select {
        font-size: 0.9375em; /* 15px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    p {
        font-size: 1em; /* 16px */
    }

    dt, dd, figcaption {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.25em; /* 20px */
    }

    h2 {
        font-size: 1.125em; /* 18 px */
    }

    h3 {
        font-size: 1em; /* 16px */
    }

    legend {
        font-size: 1em; /* 16px */
    }

    select {
        font-size: 1em; /* 16px */
    }
}

@media (min-width: 600px) {
    p {
        font-size: 1.0625em; /* 17px */
    }

    dt, dd, figcaption {
        font-size: 1em; /* 16px */
    }

    h1 {
        font-size: 1.3125em; /* 21px */
    }

    h2 {
        font-size: 1.1875em; /* 19px */
    }

    h3 {
        font-size: 1.0625em; /* 17px */
    }

    legend {
        font-size: 1.0625em; /* 17px */
    }

    select {
        font-size: 1.0625em; /* 17px */
    }
}
